<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>我的购物车-修改支付方式</title>
<link href="css/base.css" rel="stylesheet" type="text/css" />
<link href="css/other.css" rel="stylesheet" type="text/css" />
<link href="css/index.css" rel="stylesheet" type="text/css" />
<script src="js/jquery.min.js"></script>
<script src="js/jquery.flexslider-min.js"></script>
<script>
$(function(){
	$('.flexslider').flexslider({
		directionNav: true,
		pauseOnAction: false
	});
});
</script>
<script>
function MM_over(mmObj){
	var mSubObj = mmObj.getElementsByTagName("div")[0];
	mSubObj.style.display = "block";
	mSubObj.style.backgroundColor = "rgb";
}
function MM_out(mmObj) {
	var mSubObj = mmObj.getElementsByTagName("div")[0];
	mSubObj.style.display = "none";
	
}
</script>
</script>
<script language="javascript">          function switchMenustyle(num) {              for(var id = 1; id <= 4; id++) {                 if (id == num) {                                       document.getElementById("mynav" + id).className= "hover";                 }                  else {                                   document.getElementById("mynav" + id).className = "";                 }}         }          </script>
</head>

<body>
<!--top-->
<div class="ym">
  <div class="w1000">
    <div class="left welcome">
      <div class="left">您好，欢迎来到可益健康网！</div>
      <div class="left ym_lj"> <a href="#">登录</a> <a href="#">|&nbsp;&nbsp;免费注册</a> <a href="#">|&nbsp;&nbsp;收藏本站</a> </div>
    </div>
    <div class="right">
      <div class="right welcome">关注我们：<a href="#"><img src="images/wb.jpg" width="16" height="16" class="pr" /></a><a href="#"><img src="images/wx.jpg" width="16" height="16" /></a></div>
      <div class="right welcome ym_lj pr"><a href="#">帮助中心&nbsp;&nbsp;|</a></div>
      <div class="right wdzh" onmouseover="MM_over(this)" onmouseout="MM_out(this)">我的帐户&nbsp;&nbsp;|
        <div style="display: none; z-index:9999;" class="wdzh_nr">
          <ul>
            <li><a href="#">我的订单</a></li>
            <li><a href="#">我的订单</a></li>
            <li><a href="#">我的订单</a></li>
            <li><a href="#">我的订单</a></li>
          </ul>
        </div>
      </div>
      <div class="right welcome ym_lj pr"><a href="#">我的订单&nbsp;&nbsp;|</a></div>
      <div class="right welcome ym_lj pr"><a href="#">购物车&nbsp;&nbsp;|</a></div>
      <div class="form right">
        <div class="gwc" onmouseover="MM_over(this)" onmouseout="MM_out(this)"><img src="images/jt.jpg" width="9" height="5" class="jt" />2 项(s) - ￥100.00
          <div style="display: none; z-index:9999;" class="gwc_nr">
            <p class="bold lh20 pt10">最近加入的宝贝</p>
            <div class="of gwc_bb"><a href="#"><img src="images/tp.jpg" width="207" height="207" class="tp left pr" /></a>
              <div class="left lh20">
                <p class="gwc_wz"><a href="#" class="sc">买一送一台湾酵买一送一台湾酵素素送一台湾酵素素</a></p>
                <p><span class="red pr">¥130.00</span><a href="#" class="sc">删除</a></p>
              </div>
            </div>
            <div class="of gwc_bb"><a href="#"><img src="images/tp.jpg" width="207" height="207" class="tp left pr" /></a>
              <div class="left lh20">
                <p class="gwc_wz"><a href="#" class="sc">买一送一台湾酵买一送一台湾酵素素送一台湾酵素素</a></p>
                <p><span class="red pr">¥130.00</span><a href="#" class="sc">删除</a></p>
              </div>
            </div>
            <div class="gwc_ck"><a href="#">查看购物车</a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--top end--> 
<!--搜索-->
<div class="w1000">
  <div class="logo left"><a href="#"><img src="images/logo3.jpg" width="190" height="66" /></a></div>
  <div class="right sopping_cart"><img src="images/shopping_cart3.jpg" width="538" height="58" /></div>
</div>
<!--搜索 end--> 
<!--导航-->
<div class="dh2"></div>
<!--导航 end--> 
<!--我的购物车-->
<div class="bg2">
  <div class="w1000">
    <div class="f24 hs2 pt15"><i class="wdgwc_bt2"></i>修改支付方式</div>
    <div class="bg_bs dd mt10">
      <p class="bold f14w c999 dd_p">订单编号：<span  class="red">10537428</span></p>
      <p class="bold f14w c999 dd_p">订单总金额：<span  class="red">¥200.00</span></p>
      <p class="bold f14w c999 dd_p">当前支付方式：<span  class="red">支付宝</span></p>
    </div>
    <div class="bg_bs mt20" style="border-top:2px solid #e1e1e1; position:relative;">
      <div style="height:39px; border-bottom:1px solid #f5f5f5;"></div>
      <div class="zffs">
        <ul>
          <li id="b1" onclick="setTab('b',1,2)"  class="hover8">支付平台</li>
          <li id="b2" onclick="setTab('b',2,2)" >网银支付</li>
        </ul>
      </div>
      <div class="of clear zffs_nr">
        <div id="con_b_1">
          <div class="zffs_zfpt">
            <ul>
              <li style="height:80px;width:25%;">
                  <label style="height:30px;">
                      <input type="radio" name="zfpt" >
                  </label>
                  <a href="javascript:void(0);"><img src="images/brand_127X40_118_V1.gif" width="127" height="40" /></a>
              </li>
              <li style="height:80px;width:25%;">
                  <label style="height:30px;">
                      <input type="radio" name="zfpt"  >
                  </label>
                  <a href="javascript:void(0);"><img src="images/brand_127X40_112_V1.gif" width="127" height="40" /></a>
              </li>
              <li style="height:80px;width:25%;">
                  <label style="height:30px;">
                      <input type="radio" name="zfpt" >
                  </label>
                  <a href="javascript:void(0);"><img src="images/brand_127X40_111_V1.gif" width="127" height="40" /></a>
                  <p class="c57">政府指定支付机构，首次使用需注册并完成实名认证，支付过程安全快捷。</p>
              </li>
              <li style="height:80px;width:25%;">
                  <label style="height:30px;">
                      <input type="radio" name="zfpt" >
                  </label>
                  <a href="javascript:void(0);"><img src="images/brand_127X40_117_V1.gif" width="127" height="40" /></a>
              </li>
              <li style="height:80px;width:25%;">
                  <label style="height:30px;">
                      <input type="radio" name="zfpt" >
                  </label>
                  <a href="javascript:void(0);"><img src="images/brand_127X40_114_V1.gif" width="127" height="40" /></a>
              </li>
            </ul>
          </div>
        </div>
        <div id="con_b_2" style="display:none">
          <div class="zffs_zfpt2 of">
            <ul>
              <li>
                  <label>
                      <input type="radio" name="wyzf" >
                  </label>
                  <a href="javascript:void(0);"><img src="images/brand_127X40_1170005_V1.gif" width="127" height="40" /></a>
              </li>
              <li>
                  <label>
                      <input type="radio" name="wyzf"  >
                  </label>
                  <a href="javascript:void(0);"><img src="images/brand_127X40_1171010_V1.gif" width="127" height="40" /></a>
              </li>
              <li>
                  <label>
                      <input type="radio" name="wyzf"  >
                  </label>
                  <a href="javascript:void(0);"><img src="images/brand_127X40_1174008_V1.gif" width="127" height="40" /></a>
              </li>
              <li>
                  <label>
                      <input type="radio" name="wyzf"  >
                  </label>
                  <a href="javascript:void(0);"><img src="images/brand_127X40_1171025_V1.gif" width="127" height="40" /></a>
              </li>
              <li>
                  <label>
                      <input type="radio" name="wyzf"  >
                  </label>
                  <a href="javascript:void(0);"><img src="images/brand_127X40_1171023_V1.gif" width="127" height="40" /></a>
              </li>
              <li>
                  <label>
                      <input type="radio" name="wyzf"  >
                  </label>
                  <a href="javascript:void(0);"><img src="images/brand_127X40_1170009_V1.gif" width="127" height="40" /></a>
              </li>
              <li>
                  <label>
                      <input type="radio" name="wyzf"  >
                  </label>
                  <a href="javascript:void(0);"><img src="images/brand_127X40_1171022_V1.gif" width="127" height="40" /></a>
              </li>
              <li>
                  <label>
                      <input type="radio" name="wyzf"  >
                  </label>
                  <a href="javascript:void(0);"><img src="images/brand_127X40_1170031_V1.gif" width="127" height="40" /></a>
              </li>
              <li>
                  <label>
                      <input type="radio" name="wyzf"  >
                  </label>
                  <a href="javascript:void(0);"><img src="images/brand_127X40_1170030_V1.gif" width="127" height="40" /></a>
              </li>
              <li>
                  <label>
                      <input type="radio" name="wyzf"  >
                  </label>
                  <a href="javascript:void(0);"><img src="images/brand_127X40_1170007_V1.gif" width="127" height="40" /></a>
              </li>
              <li>
                  <label>
                      <input type="radio" name="wyzf"  >
                  </label>
                  <a href="javascript:void(0);"><img src="images/brand_127X40_1170028_V1.gif" width="127" height="40" /></a>
              </li>
              <li>
                  <label>
                      <input type="radio" name="wyzf"  >
                  </label>
                  <a href="javascript:void(0);"><img src="images/brand_127X40_1170026_V1.gif" width="127" height="40" /></a>
              </li>
              <li>
                  <label>
                      <input type="radio" name="wyzf"  >
                  </label>
                  <a href="javascript:void(0);"><img src="images/brand_127X40_1170027_V1.gif" width="127" height="40" /></a>
              </li>
              <li>
                  <label>
                      <input type="radio" name="wyzf"  >
                  </label>
                  <a href="javascript:void(0);"><img src="images/brand_127X40_1170004_V1.gif" width="127" height="40" /></a>
              </li>
              <li>
                  <label>
                      <input type="radio" name="wyzf"  >
                  </label>
                  <a href="javascript:void(0);"><img src="images/brand_127X40_1170015_V1.gif" width="127" height="40" /></a>
              </li>
              <li>
                  <label>
                      <input type="radio" name="wyzf"  >
                  </label>
                  <a href="javascript:void(0);"><img src="images/brand_127X40_1171021_V1.gif" width="127" height="40" /></a>
              </li>
              <li>
                  <label>
                      <input type="radio" name="wyzf"  >
                  </label>
                  <a href="javascript:void(0);"><img src="images/brand_127X40_1176024_V1.gif" width="127" height="40" /></a>
              </li>
              <li>
                  <label>
                      <input type="radio" name="wyzf"  >
                  </label>
                  <a href="javascript:void(0);"><img src="images/brand_127X40_1171424_V1.gif" width="127" height="40" /></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div style="padding-left:45%; padding-bottom:30px;"><a class="xg" href="javascript:void(0)" style="width:129px">修改支付方式</a></div>
    </div>
    <script type="text/javascript">
function setTab(name,cursel,n){
 for(i=1;i<=n;i++){
  var nav=document.getElementById(name+i);
  var conlist=document.getElementById("con_"+name+"_"+i);
  nav.className=i==cursel?"hover8":"";
  conlist.style.display=i==cursel?"block":"none";
 }
}
</script>
    
  </div>
</div>
<!--我的购物车 end--> 
<!--底部-->
<div class="center foot2" style="border-top:1px solid #e7e7e7;">
  <p class="lh23">Copyright (C) 2009-2010 All Rights Reserved. 可益健康 2014 All Rights Reserved 沪ICP备14014738号</p>
  <p class="lh23">服务时间：周一至周日 08:30 — 20:00   全国订购及服务热线：400-829-8568</p>
  <p class="pt10 lh23">增值电信业务经营许可证：沪XXXXXXXX  网络文化经营许可证：沪网文[2015]XXXXXXXX号  互联网医疗保健信息服务 审核同意书 沪网审【2014】X号</p>
  <p class="lh23">互联网药品信息服务资质证书编号：沪-（经营性）-2012-0005</p>
  <p class="pt10"><img src="images/tp05.jpg" width="701" height="29" /></p>
</div>
<!--底部 end-->
<div class="top"><a href="#"><img src="images/top.jpg" width="53" height="53" /></a></div>
</body>
</html>
