<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>注册</title>
<link href="css/base.css" rel="stylesheet" type="text/css" />
<link href="css/other.css" rel="stylesheet" type="text/css" />
<link href="css/index.css" rel="stylesheet" type="text/css" />
<script src="js/jquery.min.js"></script>
<script src="js/jquery.flexslider-min.js"></script>
<script>
$(function(){
	$('.flexslider').flexslider({
		directionNav: true,
		pauseOnAction: false
	});
});
</script>
<script>
function MM_over(mmObj){
	var mSubObj = mmObj.getElementsByTagName("div")[0];
	mSubObj.style.display = "block";
	mSubObj.style.backgroundColor = "rgb";
}
function MM_out(mmObj) {
	var mSubObj = mmObj.getElementsByTagName("div")[0];
	mSubObj.style.display = "none";
	
}
</script>
</script>
<script language="javascript">          function switchMenustyle(num) {              for(var id = 1; id <= 4; id++) {                 if (id == num) {                                       document.getElementById("mynav" + id).className= "hover";                 }                  else {                                   document.getElementById("mynav" + id).className = "";                 }}         }          </script>
</head>

<body>
<!--top-->
<div class="ym">
  <div class="w1000">
    <div class="left welcome">
      <div class="left">您好，欢迎来到可益健康网！</div>
      <div class="left ym_lj"> <a href="#">登录</a> <a href="#">|&nbsp;&nbsp;免费注册</a> <a href="#">|&nbsp;&nbsp;收藏本站</a> </div>
    </div>
    <div class="right">
      <div class="right welcome">关注我们：<a href="#"><img src="images/wb.jpg" width="16" height="16" class="pr" /></a><a href="#"><img src="images/wx.jpg" width="16" height="16" /></a></div>
      <div class="right welcome ym_lj pr"><a href="#">帮助中心&nbsp;&nbsp;|</a></div>
      <div class="right wdzh" onmouseover="MM_over(this)" onmouseout="MM_out(this)">我的帐户&nbsp;&nbsp;|
        <div style="display: none; z-index:9999;" class="wdzh_nr">
          <ul>
            <li><a href="#">我的订单</a></li>
            <li><a href="#">我的订单</a></li>
            <li><a href="#">我的订单</a></li>
            <li><a href="#">我的订单</a></li>
          </ul>
        </div>
      </div>
      <div class="right welcome ym_lj pr"><a href="#">我的订单&nbsp;&nbsp;|</a></div>
      <div class="right welcome ym_lj pr"><a href="#">购物车&nbsp;&nbsp;|</a></div>
      <div class="form right">
        <div class="gwc" onmouseover="MM_over(this)" onmouseout="MM_out(this)"><img src="images/jt.jpg" width="9" height="5" class="jt" />2 项(s) - ￥100.00
          <div style="display: none; z-index:9999;" class="gwc_nr">
            <p class="bold lh20 pt10">最近加入的宝贝</p>
            <div class="of gwc_bb"><a href="#"><img src="images/tp.jpg" width="207" height="207" class="tp left pr" /></a>
              <div class="left lh20">
                <p class="gwc_wz"><a href="#" class="sc">买一送一台湾酵买一送一台湾酵素素送一台湾酵素素</a></p>
                <p><span class="red pr">¥130.00</span><a href="#" class="sc">删除</a></p>
              </div>
            </div>
            <div class="of gwc_bb"><a href="#"><img src="images/tp.jpg" width="207" height="207" class="tp left pr" /></a>
              <div class="left lh20">
                <p class="gwc_wz"><a href="#" class="sc">买一送一台湾酵买一送一台湾酵素素送一台湾酵素素</a></p>
                <p><span class="red pr">¥130.00</span><a href="#" class="sc">删除</a></p>
              </div>
            </div>
            <div class="gwc_ck"><a href="#">查看购物车</a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--top end--> 
<!--搜索-->
<div class="w1000">
  <div class="logo left"><a href="#"><img src="images/logo3.jpg" width="190" height="66" /></a></div>
</div>
<!--搜索 end--> 
<!--导航-->
<div class="dh2"></div>
<!--导航 end--> 
<!--我的购物车-->
<div class="bg2">
  <div class="w1000">
    <div class="f18 pt20">新用户注册</div>
    <div class="bg_bs mt10 of">
      <div class="left w353" style="padding:40px 178px 35px 50px; border-right:1px solid #dedede;">
        <div class="">
          <div class="dl_ipt">
            <span class="left dl_wz c64 f14w">电子邮箱：</span><input type="text" class="dl_input" value="您常用的Email地址" onfocus="if(this.value=='您常用的Email地址'){this.value=''}" onblur="if(this.value==''){this.value='您常用的Email地址'}" />
          </div>
          <div class="dl_ipt">
            <span class="left dl_wz c64 f14w">输入密码：</span><input type="text" class="dl_input" value="6-20个大小写英文字母、符号或者数字" onfocus="if(this.value=='6-20个大小写英文字母、符号或者数字'){this.value=''}" onblur="if(this.value==''){this.value='6-20个大小写英文字母、符号或者数字'}" />
          </div>
          <div class="dl_ipt">
            <span class="left dl_wz c64 f14w">确认密码：</span><input type="text" class="dl_input" value="请在次输入密码" onfocus="if(this.value=='请在次输入密码'){this.value=''}" onblur="if(this.value==''){this.value='请在次输入密码'}" />
          </div>
          <div class="pt10 of">
            <div class="dl_ipt left" style="width:194px;"><span class="left dl_wz c64 f14w">验证码：</span><input type="text" class="dl_input" style="width:104px"/></div>
            <div class="left ml10"><img src="images/yzm.jpg" width="106" height="54" /><a href="#" class=" sc_a">&nbsp;换一张</a></div>
          </div>
          <div class="pt15 c64"><input type="checkbox" checked="checked" />&nbsp;我已阅读并同意<a href="#" class="sc_a">《服务协议》</a></div>
          <div class="pt15"><a href="#" class="dl_btn">注 册</a></div>
        </div>
      </div>
      <div class="left w237 center">
        <p><a href="#"><img src="images/ggt.jpg" width="237" height="224" /></a></p>
        <p class="mt30"><a href="#" class="xzdl f14w">现在登录</a></p>
      </div>
    </div>
  </div>
</div>
<!--我的购物车 end--> 
<!--底部-->
<div class="center foot2" style="border-top:1px solid #e7e7e7;">
  <p class="lh23">Copyright (C) 2009-2010 All Rights Reserved. 可益健康 2014 All Rights Reserved 沪ICP备14014738号</p>
  <p class="lh23">服务时间：周一至周日 08:30 — 20:00   全国订购及服务热线：400-829-8568</p>
  <p class="pt10 lh23">增值电信业务经营许可证：沪XXXXXXXX  网络文化经营许可证：沪网文[2015]XXXXXXXX号  互联网医疗保健信息服务 审核同意书 沪网审【2014】X号</p>
  <p class="lh23">互联网药品信息服务资质证书编号：沪-（经营性）-2012-0005</p>
  <p class="pt10"><img src="images/tp05.jpg" width="701" height="29" /></p>
</div>
<!--底部 end-->
<div class="top"><a href="#"><img src="images/top.jpg" width="53" height="53" /></a></div>
</body>
</html>
