@charset "utf-8";
/* CSS Document */

.bg{background:#f9f9f9; padding-bottom:50px;}
.w150{width:150px; background:#fff; border:1px solid #eee;box-shadow: 0px 3px 0px #f5f5f5; padding-bottom:5px;}
.w150_bt{background:#c40001; height:32px; line-height:32px; color:#fff; font-weight:bold; text-indent:12px;}
.w150_bt2{margin:0 10px; border-bottom:1px dotted #e6e6e6; font-weight:bold; color:#666666; padding:12px 0 10px 0;}
.jian{padding:5px 5px 0 0;}
.bzzx{padding:8px 0 0 25px;}
.bzzx li a{line-height:22px; color:#666;}
.bzzx li a:hover{color:#c40001;}
.bzzx li a.hover4{color:#c40001;}
.w1028{width:988px; border:1px solid #eee;box-shadow: 0px 3px 0px #f5f5f5; padding:20px; background:#fff; min-height:560px;}
.w1028_bt{border-bottom:1px solid #eee; font-size:18px; color:#585858; padding:0 0 14px 0;}
.w1028_nr{padding:10px 0 15px 0; line-height:30px; color:#585858}
.w1000{width:1000px; margin:auto; overflow:auto;}
.sopping_cart{padding:25px 0 15px 0}
.dh2{background:#c40000; height:2px;}
.wdgwc_bt,.wdgwc_bt2{background:url(../images/shopping_cart_script.png) no-repeat;display: inline-block;height: 26px;width: 40px;vertical-align: middle;overflow: hidden;}
.wdgwc_bt2{background-position: -52px 0;}
.bg2{background:#f5f5f5; padding-bottom:40px;}
.wxts{height:50px; line-height:50px; position:relative; background:#fff;border: 1px solid #fea7b6; margin:15px 0}
.wxts_left{ background:#ffeef1; width:90px; margin-right:10px;}
.wxts_jt{position:absolute; bottom:-5px; left:41px; background:url(../images/shopping_cart_script.png) no-repeat;background-position: -21px -666px; width:7px; height:5px;}
.table1,.table2{width:100%; background:#fff;}
.table1 tr td{color: #fff; background-color: #e03357; height:35px; text-align:center}
.table2 tr{height:94px; color:#333; border-bottom:1px dotted #eee}
.spt{padding:15px 25px 15px 15px;} 
.spt img{ width:60px; height:60px; border:1px solid #dedede}
.spt img:hover{border:1px solid #e03357}
.bt5{color:#555555; padding-top:15px; width:330px;line-height:18px;}
.bt5:hover,.sc_a:hover{ color:#e03357; }
.sc_a{color:#007ccf;}
.zj{background:#fff; margin:18px 0 10px 0; text-align:right; height:60px; line-height:60px }
.js{ height: 31px;padding: 40px 20px 20px 16px;background: #fff;}
.btn_checkout_disabled{background: url(../images/shopping_cart_script.png) no-repeat left -262px;height: 51px;width: 176px;cursor: default; margin-top: -20px;}
.btn_checkout{background: url(../images/shopping_cart_script.png) no-repeat left -104px;height: 51px;width: 176px;margin-top: -20px;}
.btn_checkout:hover {background-position: 0 -472px;}
.btn_clear, .btn_goon {
  background: url(../images/shopping_cart_script.png) -117px -189px no-repeat;
  height: 22px;
  line-height: 22px;
  color: #666;
  width: 66px;
  display: inline-block;
  text-align: left;
  zoom: 1;
  padding-left: 19px;
}
.btn_clear {
  background-position: -117px -215px;
  padding-left: 17px;
  width: 76px;
}
.btn_goon:hover,.btn_clear:hover {
  background-position: -20px -535px;
  color:#e03357;
}
.btn_clear:hover{ background-position: -20px -564px;}
.menubox ul li{color:#666; font-size:18px; line-height:24px; cursor:pointer; float:left; padding-right:15px;}
.menubox ul li.hover7,.bt6 a:hover{color:#DA0523;}
.contentbox{ background:#fff; margin-top:10px;}
.rmtj li{
	float: left;
	width: 200px;
	padding: 10px 22px;
}
.img1{width:150px; height:150px;}
.bt6{height:40px; padding-top:12px;}
.bt6 a{line-height:18px; color:#666666;}
.qian5 {position:relative;width:119px; margin:10px auto;}
.qian5 span{height:22px; border:1px solid #e1e1e1; line-height:22px; color:#c40000; font-size:14px; font-weight:bold;text-align:center; display:block; border-radius:2px;}
.qian5 span a{display:none; position:absolute; top:0px; left:0; background:#c40000; color:#fff; text-align:center; height:24px; line-height:24px; width:119px;border-radius:2px; font-weight:normal}
.qian5 span:hover a{display:block;}
.bg_bs{background:#fff;}
.selectads {
  padding: 10px 19px 17px;
  background-color: #fff;
  border: 1px solid #fff;
  color: #666;
  border-top: 2px solid #fff;
}
.mb20 {
  margin-bottom: 20px;
}
.myaddrlist li{padding:4px 0; height:20px; position:relative;}
.myaddrlist li .sep{position:relative;top:1px;}
.myaddrlist .curr{font-weight:normal;color:#222;}
.myaddrlist .edit,
.myaddrlist .sep{display:none;}
.myaddrlist .name_newaddr{font-weight:normal;color:#de0027;}
.myaddrlist .curr .edit{display:inline-block; position:relative; top:2px;color:#007ccf;}
.myaddrlist .curr .edit:hover{color:#c40000}
.myaddrlist .curr .sep{display:inline; color:#fff;}
.myaddrlist input{float:left;margin:3px 0 0;*margin:-3px 0 0;_margin-top:0;margin:0\0;vertical-align:middle;}
.myaddrlist .name{margin:0 15px 0 8px; display:inline-block; overflow:hidden; vertical-align:middle; width:120px;}
.myaddrlist .addrinfo{margin-right:5px; display:inline-block; width:420px; overflow:hidden; vertical-align:middle;}
.ie7 .myaddrlist .addrinfo{position:relative; top:2px;}
.myaddrlist .phone{display:inline-block; vertical-align:middle; margin-right:50px;}
.formsubB .intxt{border:1px solid #ccc; width:280px; padding:4px 2px;}
.formsubB .intxt#mobile{width:145px;}
.formsubB .intxt#area{width:55px;}
.formsubB .intxt#tel{width:110px;}
.formsubB .intxt#extension{width:70px;}
.newaddr .intxt{vertical-align:middle; color:#848484;}
.formsubB select{border:1px solid #ccc;padding:3px 2px 3px 0; color:#848484}
.formsubB li{padding:4px 0;min-height:30px; line-height:28px;}
.formsubB label{display:inline-block; width:90px; text-align:right;}
.formsubB .action{padding:10px 0 6px 90px;}
.formsubB .action .btn{width:160px;height:0;padding:39px 0 0;background:url(../images/checkout_sprite.png) 0 -488px no-repeat ;overflow:hidden;}
.formsubB .action .btn:hover{background-position:0 -533px;}
.formsubB .action .btn.cancel,
.formsubB .action .btn.cancel:hover{width:109px;margin-left:10px;background-position:0 -580px;}
.formsubB .action .btn span{padding:0;background:none;}
.formsubB .action .btn.btn_submit{width:109px;background-position:0 -689px;}
.formsubB .action .btn.btn_submit:hover{background-position:0 -734px;}
.need{color:#de0027;}
.newaddr{padding:13px 5px 0;background-color:#fff;border:1px solid #fff; color:#666; border-top:1px dotted #e5e5e5;}
.nameCerti{ background-color:#fff;padding:20px 25px;}
.nameCerti label{color:#666;}
.nameCerti .intxt{vertical-align:middle;}
.checkout .Validform_checktip{vertical-align:middle;}
.checkorder .tipmsg{padding:10px 20px 5px;}
.checkorder .tipmsg .Validform_wrong{padding:0px;color:#e52142;}
.checkorder .tipmsg li{border-top:0 none #ffcec3; padding:3px 0;}
.checkorder .tipmsg li a{color:#626164;}
.checkorder .tipmsg li a:hover{color:#de0027;}
.lineB{
	height:0;
	border:0;
	border-bottom:1px dotted #fea7b6;
	margin:10px 0;
	*margin:0;
}
.checkorder .table .pro{min-height:62px;_height:62px;}
.checkorder .table .pro .img{width:62px;height:62px;}
.checkorder .table .pro .img a{display:block;border:1px solid #dedede;}
.checkorder .table .pro .img a:hover{border-color:#da0523;}
.checkorder .table .pro .img img{width:60px;height:60px;}
.btn,
.btn span{
	display:inline-block;
	height:22px;
	line-height:22px;
	background:url(../images/sprite_btn.png) no-repeat;
}
.kyzm{background:#eee; padding:10px 20px;}
.kyzm_ck{
	padding-left: 20px;
    background:url(../images/shopping_cart_script.png) 0 -433px no-repeat;
}
.mian{ width:16px; height:16px; line-height:16px; background:#e03357; color:#fff; display:inline-block; margin-left:5px; border-radius:2px}
.yhq{padding:10px 25px;}
.yhq_sel{
	border-color: #dedede;
    width: 177px;
    color: #666;
    padding: 2px 2px 2px 0;
}
.yhq_tp{
	background: url(../images/checkout_sprite.png) -142px 0 no-repeat;
	width: 63px;
    height: 23px;
	display: inline-block;
	margin-right:10px;
}
.tr{text-align:right;}
.zffs{ position:absolute; top:-2px; left:0;}
.zffs_nr{padding-bottom:20px;}
.zffs ul li{float:left; border-top:2px solid #e1e1e1; color:#555; height:39px; line-height:39px; font-size:14px; padding:0 30px; border-right:1px solid #ededed; border-bottom:1px solid #f5f5f5; cursor:pointer}
.zffs ul li.hover8{color:#e03357;border-top:2px solid #e03357; border-bottom:1px solid #fff; font-weight:bold;}
.zffs_zfpt,.zffs_zfpt2{padding:15px 25px;}
.zffs_zfpt ul li,.zffs_zfpt2 ul li{float:left; padding-top:15px; padding-bottom:15px;}
.zffs_zfpt2 ul li{padding-left:24px;}
.zffs_zfpt img,.zffs_zfpt2 img{border: 1px solid #ccc; margin-left:5px}
.zffs_zfpt img:hover,.zffs_zfpt2 img:hover{border: 1px solid #e03357;}
.tjdd{border-bottom:1px dotted #e7e7e7; padding:20px 0 20px 20px;}
.jia{width:13px; height:13px;background: url(../images/checkout_sprite.png) no-repeat -100px 0;display: inline-block; margin:2px 7px 0 0;}
.bm{padding:10px 0 0 20px;}
.yhq_ipt{
    width:120px; height: 16px;
	padding: 4px;
	color: #666;
	vertical-align: middle;
	border:1px solid #dedede;
	margin-left:5px;
}
.tjyhq{background: url(../images/checkout_sprite.png) no-repeat -100px -119px;width: 98px;height:29px; display:block; float:left; margin-left:10px}
.spxj{width:300px; text-align: right;}
.qian7{width:100px; padding-left:10px;}
.pb12{padding-bottom:12px;}
.btn_booklist_sub,.btn_booklist_sub2 {
  display: inline-block;
  width: 197px;
  height: 0;
  padding-top: 51px;
  overflow: hidden;
  background: url(../images/checkout_sprite.png) no-repeat left -180px;
  text-align: left;
  margin-left:50px;
}
.btn_booklist_sub2{ background-position:left -626px;}
.btn_booklist_sub:hover {
  background-position: 0 -433px;
}
.tj00{padding:30px 20px;}
.tbsm{padding:15px; line-height:24px;}
.tsxx{height: 100%;margin-bottom: 10px;overflow: hidden;background: none repeat scroll 0 0 #fff;border: 1px solid #efcbd3;padding: 10px 20px;color: #666;}
.tsxx span{color: #d8002d;font-style: normal;font-weight: bolder;padding-right: 6px;}
.fcbq{
	position: relative;
	background-color: #fff;
	border: 1px solid #fea7b6;
	padding: 10px 20px;
	zoom: 1;
}
.fcbq_jt{
	position: absolute;
	width: 7px;
	height: 5px;
	display: inline-block;
	overflow: hidden;
	background: url(../images/shopping_cart_script.png) 0 -666px no-repeat;
	top: -5px;
    left: 41px;
}
.fcbq_bq{border-bottom: 1px dotted #fea7b6; padding-bottom:10px;}
.dd{border-bottom:1px solid #e7e7e7; padding:20px 25px 10px 25px;}
.dd_p{padding-bottom:10px;}
.ddh{width:110px; text-align:right;}
.ljzf{padding-left:110px;}
.pay {
  float: left;
  width: 129px;
  height: 42px;
  display: inline-block;
  margin-right: 40px;
}
.pay img {
  border: 1px solid #dcdcdc;
}
.nowpay {
  height: 39px;
  width: 130px;
  background: url(../images/checkout_sprite.png) no-repeat 0 -275px;
  display:block;
  overflow: hidden;
  text-indent: -20000px;
}
.nowpay:hover{ background-position:0 -317px;}
.xg{
	height: 34px;
	line-height: 34px;
	background:#e01841;
	border-radius:3px;
	border-bottom:2px #b00327 solid;
	display:block;
	padding:0 10px;
	color:#fff;
	text-align:center;
	font-size:16px;
}
.xg:hover{background:#ea2d54}
/*2015-07-21*/
.w353{width:353px; padding:30px 0 0 50px;}
.ljzc{float:right; color:#b61d1d;}
.ljzc:hover{color:#646464;}
.dl_ipt{ width:100%; border:1px solid #dedede; margin-top:-1px; height:52px; line-height:52px;}
.dl_wz{width:90px; text-align:right;}
.dl_input{float:left; border:none; height:52px; line-height:52px; color:#999; font-size:14px; font-family:Microsoft YaHei, Verdana, Geneva, sans-serif; width:263px; text-indent:5px;}
.forget{ color:#646464;}
.forget:hover{color:#b61d1d;}
.dl_btn{background:#f06359; border-radius:3px; color:#fff; font-size:20px; height:44px; width:100%; display:block; line-height:44px; text-align:center;}
.dl_btn:hover{background:#fa7a71;}
.ml10{margin-left:10px;}
.w237{width:237px; padding:40px 0 0 93px;}
.xzdl{border:1px solid #e0dfdf; color:#888888; height:30px; line-height:30px; display:block;width:135px; margin:auto; border-radius:3px;}
.xzdl:hover{background:#f5f5f5; color:#b61d1d}

/*add for notification*/
.notification a {
	color: #476ABE;
	text-decoration: none;
	cursor: pointer;
}

.success,.warning,.attention,.information {
	padding: 10px 10px 10px 33px;
	margin-bottom: 15px;
	color: #555555;
}

.success {
	background: #EAF7D9 url('../image/success.png') 10px center no-repeat;
	border: 1px solid #BBDF8D;
}

.warning {
	background: #FFD1D1 url('../image/warning.png') 10px center no-repeat;
	border: 1px solid #F8ACAC;
}

.attention {
	background: #FFF5CC url('../image/attention.png') 10px center no-repeat;
	border: 1px solid #F2DD8C;
}

.information {
	background: #E8F6FF url('../image/information.png') 10px center
		no-repeat;
	border: 1px solid #B8E2FB;
}

.success .close,.warning .close,.attention .close,.information .close {
	float: right;
	padding-top: 4px;
	padding-right: 4px;
	cursor: pointer;
}

