<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>个人中心</title>
<link href="css/base.css" rel="stylesheet" type="text/css" />
<link href="css/other.css" rel="stylesheet" type="text/css" />
<link href="css/index.css" rel="stylesheet" type="text/css" />
<script src="js/jquery.min.js"></script>
<script src="js/jquery.flexslider-min.js"></script>
<script>
$(function(){
	$('.flexslider').flexslider({
		directionNav: true,
		pauseOnAction: false
	});
});
</script>
<script>
function MM_over(mmObj){
	var mSubObj = mmObj.getElementsByTagName("div")[0];
	mSubObj.style.display = "block";
	mSubObj.style.backgroundColor = "rgb";
}
function MM_out(mmObj) {
	var mSubObj = mmObj.getElementsByTagName("div")[0];
	mSubObj.style.display = "none";
	
}
</script>
</script>
<script language="javascript">          function switchMenustyle(num) {              for(var id = 1; id <= 4; id++) {                 if (id == num) {                                       document.getElementById("mynav" + id).className= "hover";                 }                  else {                                   document.getElementById("mynav" + id).className = "";                 }}         }          </script>
</head>

<body>
<!--top-->
<div class="ym">
  <div class="w1200">
    <div class="left welcome">
      <div class="left">您好，欢迎来到可益健康网！</div>
      <div class="left ym_lj">
        <a href="#">登录</a>
        <a href="#">|&nbsp;&nbsp;免费注册</a>
        <a href="#">|&nbsp;&nbsp;收藏本站</a>
      </div>
    </div>
    <div class="right">
      <div class="right welcome">关注我们：<a href="#"><img src="images/wb.jpg" width="16" height="16" class="pr" /></a><a href="#"><img src="images/wx.jpg" width="16" height="16" /></a></div>
      <div class="right welcome ym_lj pr"><a href="#">帮助中心&nbsp;&nbsp;|</a></div>
      <div class="right wdzh" onmouseover="MM_over(this)" onmouseout="MM_out(this)">我的帐户&nbsp;&nbsp;|
        <div style="display: none; z-index:9999;" class="wdzh_nr">
          <ul>
            <li><a href="#">我的订单</a></li>
            <li><a href="#">我的订单</a></li>
            <li><a href="#">我的订单</a></li>
            <li><a href="#">我的订单</a></li>
          </ul>
        </div>
      </div>
      <div class="right welcome ym_lj pr"><a href="#">我的订单&nbsp;&nbsp;|</a></div>
      <div class="right welcome ym_lj pr"><a href="#">购物车&nbsp;&nbsp;|</a></div>
      <div class="form right">
        <div class="gwc" onmouseover="MM_over(this)" onmouseout="MM_out(this)"><img src="images/jt.jpg" width="9" height="5" class="jt" />2 项(s) - ￥100.00
            <div style="display: none; z-index:9999;" class="gwc_nr">
              <p class="bold lh20 pt10">最近加入的宝贝</p>
              <div class="of gwc_bb"><a href="#"><img src="images/tp.jpg" width="207" height="207" class="tp left pr" /></a>
                <div class="left lh20"><p class="gwc_wz"><a href="#" class="sc">买一送一台湾酵买一送一台湾酵素素送一台湾酵素素</a></p><p><span class="red pr">¥130.00</span><a href="#" class="sc">删除</a></p></div>
              </div>
              <div class="of gwc_bb"><a href="#"><img src="images/tp.jpg" width="207" height="207" class="tp left pr" /></a>
                <div class="left lh20"><p class="gwc_wz"><a href="#" class="sc">买一送一台湾酵买一送一台湾酵素素送一台湾酵素素</a></p><p><span class="red pr">¥130.00</span><a href="#" class="sc">删除</a></p></div>
              </div> 
              <div class="gwc_ck"><a href="#">查看购物车</a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--top end-->
<!--搜索-->
<div class="w1200">
  <div class="logo left"><a href="#"><img src="images/logo.jpg" width="555" height="76" /></a></div>
  <div class="right w510">
    <div><input type="text" class="ss left" value="进口奶粉全场八折优惠" onfocus="if(this.value=='进口奶粉全场八折优惠'){this.value=''}" onblur="if(this.value==''){this.value='进口奶粉全场八折优惠'}"/><input type="button" value="搜索" class="ss_btn left"/></div>
    <div class="ss_gjc"> 
      <ul>
        <li><a href="#"><span class="red">官方直售</span>&nbsp;&nbsp;|</a></li>
        <li><a href="#">面膜&nbsp;&nbsp;|</a></li>
        <li><a href="#"><span class="red">防晒霜</span>&nbsp;&nbsp;|</a></li>
        <li><a href="#">bb霜&nbsp;&nbsp;|</a></li>
        <li><a href="#"><span class="red">护肤套装</span>&nbsp;&nbsp;|</a></li>
        <li><a href="#">洁面&nbsp;&nbsp;|</a></li>
        <li><a href="#">爽肤水&nbsp;&nbsp;|</a></li>
      </ul>
    </div>
  </div>
</div>
<!--搜索 end-->
<!--导航-->
<div class="dh">
  <div class="w1200">
    <div class="left meau">
      <ul>
        <li><a class="hover" id="mynav1" onclick="switchMenustyle(1)" href="javascript:void(0);">首页</a></li>
        <li><a id="mynav2" onclick="switchMenustyle(2)" href="javascript:void(0);">益健康</a></li>
        <li><a id="mynav3" onclick="switchMenustyle(3)" href="javascript:void(0);">益生活</a></li>
      </ul>
    </div>
    <div class="right spfl" onmouseover="MM_over(this)" onmouseout="MM_out(this)"><img src="images/gd.png" width="16" height="14" />商品分类
      <div style="display: none; z-index: 999;" class="spfl_nr">
        <div class="spfl_nr_lb of">
          <p class="flbt">营养保健</p>
          <ul class="flbt_nr">
            <li><a href="#">保健强身</a></li>
            <li><a href="#">营养滋补</a></li>
            <li><a href="#">纤体修身</a></li>
          </ul>
        </div>
        <div class="spfl_nr_lb of">
          <p class="flbt">个护彩妆</p>
          <ul class="flbt_nr">
            <li><a href="#">面部护理</a></li>
            <li><a href="#">洗发护发</a></li>
            <li><a href="#">身体护理</a></li>
            <li><a href="#">口腔护理</a></li>
            <li><a href="#">彩妆</a></li>
          </ul>
        </div>
        <div class="spfl_nr_lb of">
          <p class="flbt">母婴用品</p>
          <ul class="flbt_nr">
            <li><a href="#">尿裤湿巾</a></li>
            <li><a href="#">营养辅食</a></li>
            <li><a href="#">妈妈专区</a></li>
            <li><a href="#">奶粉</a></li>
            <li><a href="#">宝宝个人护理</a></li>
          </ul>
        </div>
        <div class="spfl_nr_lb of">
          <p class="flbt">进口食品</p>
          <ul class="flbt_nr">
            <li><a href="#">休闲食品</a></li>
            <li><a href="#">牛奶饮料</a></li>
          </ul>
        </div>
        <div class="spfl_nr_lb of">
          <p class="flbt">生活用品</p>
          <ul class="flbt_nr">
            <li><a href="#">生活日用</a></li>
            <li><a href="#">厨房用品</a></li>
            <li><a href="#">浴室用品</a></li>
          </ul>
        </div>
        <div class="spfl_nr_lb of">
          <p class="flbt">成人用品</p>
          <ul class="flbt_nr">
            <li><a href="#">卫生裤</a></li>
            <li><a href="#">避孕套</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!--导航 end-->
<!--帮助中心-->
<div class="bg">
  <div class="w1200 pt15">
    <div class="left w150">
      <div style="padding-bottom:12px;">
        <div class="w150_bt f14w">交易管理</div>
        <ul class="bzzx">
          <li><a href="javascript:void(0);">历史订单</a></li>
          <li><a href="javascript:void(0);" class="hover4">下载商品</a></li>
          <li><a href="javascript:void(0);">收藏列表</a></li>
          <li><a href="javascript:void(0);">我的余额记录</a></li>
          <li><a href="javascript:void(0);">我的积分</a></li>
        </ul>
      </div>
      <div style="padding-bottom:12px;">
        <div class="w150_bt f14w">服务中心</div>
        <ul class="bzzx">
          <li><a href="javascript:void(0);">退换</a></li>
        </ul>
      </div>
      <div style="padding-bottom:12px;">
        <div class="w150_bt f14w">个人信息管理</div>
        <ul class="bzzx">
          <li><a href="javascript:void(0);">编辑帐户</a></li>
          <li><a href="javascript:void(0);">更改密码</a></li>
          <li><a href="javascript:void(0);">我的地址簿</a></li>
          <li><a href="javascript:void(0);">退出</a></li>
        </ul>
      </div>
      <div style="padding-bottom:12px;">
        <div class="w150_bt f14w">个人应用管理</div>
        <ul class="bzzx">
          <li><a href="javascript:void(0);">邀请好友</a></li>
          <li><a href="javascript:void(0);">订阅 / 退订</a></li>
        </ul>
      </div>
    </div>
    <div class="right w1028">
      
    </div>
  </div>
</div>
<!--帮助中心 end-->
<!--底部-->
<div class="foot1" style="margin-top: 0;">
  <div class="w1200">
    <div class="bz"><img src="images/bz.jpg" width="1200" height="48" /></div>
    <div>
      <div class="left logo2">
        <p><img src="images/logo2.jpg" width="189" height="66" /></p>
        <p class="c57 f14w pt10">服务热线：400-829-8568</p>
        <p class="c57 f14w">周一至周日 08:30-20:00</p>
      </div>
      <div class="left">
        <ul class="foot_list">
          <li>
            <p class="foot_list_bt">公司介绍</p>
            <p class="foot_list_a"><a href="#">关于可益</a></p>
            <p class="foot_list_a"><a href="#">联系我们</a></p>
            <p class="foot_list_a"><a href="#">隐私说明</a></p>
          </li>
          <li>
            <p class="foot_list_bt">购物指南</p>
            <p class="foot_list_a"><a href="#">可益购物流程</a></p>
            <p class="foot_list_a"><a href="#">商品验货与签收</a></p>
            <p class="foot_list_a"><a href="#">消费者告知书</a></p>
            <p class="foot_list_a"><a href="#">关税表</a></p>
          </li>
          <li>
            <p class="foot_list_bt">售后服务</p>
            <p class="foot_list_a"><a href="#">品牌售后服务</a></p>
            <p class="foot_list_a"><a href="#">退换货地址</a></p>
            <p class="foot_list_a"><a href="#">退换货政策</a></p>
            <p class="foot_list_a"><a href="#">退款说明</a></p>
          </li>
          <li>
            <p class="foot_list_bt">支付与配送</p>
            <p class="foot_list_a"><a href="#">支付方式</a></p>
            <p class="foot_list_a"><a href="#">配送方式</a></p>
            <p class="foot_list_a"><a href="#">物流状态查询</a></p>
          </li>
          <li>
            <p class="foot_list_bt">会员服务</p>
            <p class="foot_list_a"><a href="#">我的帐户</a></p>
            <p class="foot_list_a"><a href="#">我的订单</a></p>
            <p class="foot_list_a"><a href="#">我的收藏</a></p>
            <p class="foot_list_a"><a href="#">我的积分</a></p>
          </li>
        </ul>
      </div>
      <div class="right ewm">
        <p class="red f16 bold">可益电商微信</p>
        <p class="pt10"><img src="images/wx2.jpg" width="118" height="118" /></p>
      </div>
    </div>
  </div>
</div>
<div class="w1200 center foot2">
<p class="lh23">Copyright (C) 2009-2010 All Rights Reserved. 可益健康 2014 All Rights Reserved 沪ICP备14014738号</p>
<p class="lh23">服务时间：周一至周日 08:30 — 20:00   全国订购及服务热线：400-829-8568</p>
<p class="pt10 lh23">增值电信业务经营许可证：沪XXXXXXXX  网络文化经营许可证：沪网文[2015]XXXXXXXX号  互联网医疗保健信息服务 审核同意书 沪网审【2014】X号</p>
<p class="lh23">互联网药品信息服务资质证书编号：沪-（经营性）-2012-0005</p>
<p class="pt10"><img src="images/tp05.jpg" width="701" height="29" /></p>
</div>
<!--底部 end-->
<div class="top"><a href="#"><img src="images/top.jpg" width="53" height="53" /></a></div>
</body>
</html>
